<section class="container centered">
  <div class="about" id="banner">
    <h1>{{ .Site.Title }}</h1>
    <h5 id="info">{{ .Site.Params.info }}</h5>
    <div class="beer">🍻</div>
    <h2>{{ $.Page.Param "date" | time.Format ":date_long" }}</h1>
    <h2>{{ $.Page.Param "day" }}</h2> 
    <h2>{{ $.Page.Param "time" }}</h2> 
    <div class="beer">🍻</div>
    <h2><a id="venue_link" href="{{ $.Param "venue1" }}"
        target="_blank">{{ $.Param "venue1" }}</a></h2>
    <h2>{{ $.Param "venue2"}} </h2>
    <h2>{{ $.Param "venue3"}} </h2>
    <h2>{{ $.Param "venue4"}} </h2>
    <div class="beer">🍻</div>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
