<section class="container centered">
  <div class="about" id="banner">
    <h1>{{ .Title }}</h1>
    <h5 id="info">{{ .Site.Params.info }}</h5>
    <div class="beer">🍻</div>
    <h2>{{ dateFormat "02 January 2006" .Date }}</h2> 
    <h2>{{ .Param "day" }}</h2> 
    <h2>{{ .Param "time" }}</h2> 
    <div class="beer">🍻</div>
    <h2><a id="venue_link" href="{{ .Site.Params.next.venue1Link }}"
        target="_blank">{{ .Param "venue1" }}</a></h2>
    <h2>{{ .Param "venue2"}} </h2>
    <h2>{{ .Param "venue3"}} </h2>
    <h2>{{ .Param "venue4"}} </h2>
    <div class="beer">🍻</div>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
